.hero{
    height:100vh;
}
.name-title{
    font-family: 'PT Sans', sans-serif;
    font-size: 80px;
    text-align: center;
}

.blurb{
    font-family: 'Lato', sans-serif;
    color: grey;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.menu{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    font-size: 20px;
}
.header-link{
    text-decoration: none;
    color:black;
    font-family: 'Source Sans Pro', san-serif;  
    font-size: 18px; 
}
.header-link:hover {
    color: black;
    font-weight: bold;
}

.hero-image{
    width: 600px;
    height: 400px;
    display: block;
    margin: 0 auto;
}

.about-me{
    font-size: 60px;
    margin-left: 50px;
    margin-top: 80px;
    padding-bottom: 30px;
}
.paragraphs{ 
    font-family: 'Lato', sans-serif;
    padding-bottom: 80px;

}
.para1{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin: 20px;

}
.para2{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin: 20px;
    padding-bottom: 80px;

}

.work{
    display: flex;
    margin:40px;
    background-color: ;
    padding-bottom: 80px;
}
.frontend{
    display:flex;
    width:40%;
    flex-direction: column;
    align-items: center;
}
.frontend-text{
    font-family: 'Source Sans Pro', san-serif;
    font-size: 20px;
    color: black;
    padding-top: 10px;
    line-height: 30px;
}
.html-css{
    font-family: 'PT Sans', sans-serif;
    color:#c49075;
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
}
.lx{
    display:flex;
    width:50%;
    flex-direction: column;
    align-items: center;
    padding-left: 60px;
}

.lxdesign{
    font-family: 'PT Sans', sans-serif;
    color:#c49075;
    font-size: 30px;
    padding-top: 10px;
    font-weight: 700;  
}
.lx-text{
    font-family: 'Source Sans Pro', san-serif;
    font-size: 20px;
    color: black;
    padding-top: 10px;
    line-height: 30px;
}
.contact{
    display: flex;
    justify-content: center;
    margin: 0 50px;
    line-height: 50px;
    text-align: center;
}

.like-it{
   
    color: #c49075;
    font-size: 32px;
}
.email-header{
    font-family: 'PT Sans', sans-serif;
    color: grey;
}
.email{
    font-family:'Lora', serif;
    font-size: 24px;
    color: black;
    text-align: center;
}
  
.find-me{
    font-family: 'PT Sans', sans-serif;
    color: gray;

    text-align: center;
}
.socialmedia{
    display: flex;
    justify-content: space-around;
}